body { 
    background: linear-gradient(to right, #00fff3, #00ffc8); 
    color: rgb(39, 8, 8);
   }
   .quote-body { 
    margin: auto; 
    width: 400px; 
    height: 200px; 
    margin-top: 150px;
   }
   #quote { 
    font-size: 40px; 
    font-weight: bold;
    font-style: italic;
    font-display: inherit;
    font-stretch: wider;
    font-size-adjust: unset;
   }
 